<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <title>Todo List Vue Js</title>
</head>
<body>
    
    <div id="app">

        <header>
          <input v-model="temporaryEl" @keyup.enter="addElement" type="text">
          <button @click="addElement" id="addButton">ADD</button>
        </header>

        <div class="list-container">
            <ul>
                <li v-for="(el,i) in todo" :class="el.done ? 'done' : '' " @click="toggleDone(i)">
                    {{el.text}}

                    <div @click="removeEl(i)"class="close">X</div>
                </li>
            </ul>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>